/* ----- GLOBAL---------- */
* {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body {
    background-color: #cbcbcb73;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    
}

/* ----- HEADER ---------- */
.header {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel {
    position: relative;
    height: 100%;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: opacity 1s ease;
    opacity: 0;    
}

.carousel img.active {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #ffffff70;;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 4rem;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
    
}

.titulo h1 {
    font-size: 1.7rem;
}

.subtitulo {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 10px;
}


/* ----- NAVBAR ---------- */
nav {
    background: #022423;
    line-height: 0;
    padding: 10px;
    color: #d8e3ce;
    position: relative;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    width: 50px;
}

.hamburger span {
    height: 1px;
    background-color: white;
    width: 20px;
    transition: all 0.3s ease-in-out;
}

.hamburger:not(.activo):hover span {
    transform: scale(1.3);
    height: 1.5px;
}

.hidden {
    display: none;
}

.hamburger.activo {
    height: 13px;
    transition: all 0.3s ease;
}

.hamburger.activo:hover span {
    transform: scale(1.3);
    height: 2px;
}

.hamburger.activo span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg) translate(3px, 5px);
}

.hamburger.activo span:nth-child(2) {
    opacity: 0;
}

.hamburger.activo span:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg) translate(-6px, 2px);
}

.menu {
    position: absolute;
    left: 0;
    top: 53px;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    width: 50%;
    z-index: 999;
}

.menu-items {
    cursor: pointer;
    padding: 20px;
}

.menu-items:hover {
    background: #215250;
    color: #f7fefe;
}

.menu-items.active {
    background: #292929;
}

/* ----- MAIN SECTION ---------- */
main {
    background: #fff;
    margin: 30px 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.section h3 {
    margin-bottom: 20px;
    text-align: center;
}

.section h4 {
    text-align: center
}

.section article p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.section:first-child p span {
    font-weight: 700;
}

.main-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.main-images img {
    border-radius: 4px;
}

/* ----- ESPECIES PROTEGIDAS ---------- */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-container>div {
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px
}

.img-container {
    margin: 0 auto;
    width: 14rem;
    height: 10rem;
    border-radius: 20px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
}

.card img:hover {
    transform: scale(1.2);
}

.card-body h4 {
    text-align: left;
}

.card-body p {
    line-height: unset;
    font-size: 0.85rem;
}

.card-body small {
    font-size: 0.6rem;
    font-style: italic;
}

/* ----- GALERÍA ---------- */
.imagen-grande {
    height: 22rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.imagen-grande img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.imagen-miniaturas {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.imagen-miniaturas img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    opacity: 0.4;
}

.imagen-miniaturas img.active {
    opacity: 0.85;
    border: 2px solid #115655;
    padding: 5px;
}

.imagen-miniaturas img:hover {
    transform: scale(1.15);
    opacity: 1;
}

/* ----- CONTACTO ---------- */
.form-container.hide {
    display: none;
}

.contact-form fieldset {
    border: 2px solid #1d7e7a;
    border-radius: 5px;
    padding: 0 15px 15px;
}

.contact-form fieldset legend {
    padding: 10px;
    font-size: 0.85rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="number"] {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
}s

label {
    font-size: 0.85rem;
}

.btn-submit {
    background: #1d7e7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 0.65rem;
    margin-top: 3px;
}

.mensaje-exito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 8rem;
}

.mensaje-exito div {
    border: 7px solid #1d7e7a;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
    animation: pulse 2s;
}

.mensaje-exito div i {
    font-size: 3rem;
    color: #1d7e7a;
}
.reset-form {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background: #ccc;
    cursor: pointer;
}

.reserva-mensaje {
    height: 100px;
    resize: none;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* ----- LOGIN ---------- */
#login form {
    /* padding: 5rem; */
    margin: 0 auto;
}

.btn-login {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    background: #022423;
    color: white;
}

.small-text {
    font-size: 0.75rem;
    margin-top: 10px;
}

.link-registro {
    font-weight: 700;
    color: #022423;
}

/* ----- FOOTER ---------- */
.footer {
    background: #022423;
    text-align: center;
    padding: 30px 20px;
}

.footer p {
    font-style: italic;
    font-size: 0.85rem;
    color: #989d93;
}

.footer span {
    font-size: 1rem;
    color: white;
    font-style: normal;
}

/* ----- ANIMACIÓN ---------- */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ----- RESPONSIVE ---------- */
@media (min-width: 768px) {
    .menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0;
        background: unset;
        width: 100%;
    }

    .titulo h1 {
        font-size: 2.4rem;
    }

    .subtitulo {
        font-size: 1.1rem;
    }

    .hamburger {
        display: none;
    }

    .menu-items:hover {
        background: #215250;
        color: #f7fefe;
        border-radius: 3px;
    }
    
    .menu-items.active {
        border-radius: 3px;
        background: #215250;
    }

    main {
        margin: 2rem 10rem;
    }

    .main-images {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .main-images img {
        width: 50%;
        height: 30rem;
    }

    .card {
        display: flex;
        flex-direction: row;
    }

    .card-body {
        width: 70%;
    }

    .card-container>div {
        width: 85%;
    }

    .imagen-grande {
        width: 70%;
    }

    .imagen-miniaturas img {
        width: 5rem;
        height: 5rem;
    }

    .form-container {
        display: flex;
    }

    .contact-form {
        width: 70%;
        margin: 0 auto;
    }

}